* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background: #919496;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

/* navbar */
.nav-bg {
    background-color: #c7948c !important;
}

/* icons and images */
.logo {
    width: 100px;
}

.icons {
    width: 27px;
    padding: 5px;
}

.icons-f {
    width: 10px;
}

/* background image */
.bg-img {
    background-image: url(./img/books-bg.jpg) !important;
}

.big-text {
    font-size: 30px;
    width: 100%;
    background-color: #ebb3a4 !important;
    opacity: 0.9;
}

.home-btn {
    opacity: 1;
}

/* about */
.deets a {
    color: black;
    text-decoration: none;
}

.deets a:hover {
    color: rgba(0, 0, 0, 0.6);
}

/* products */
.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.products-card {
    width: 40%;
    
}

.book-img img {
    border-radius: 2%;
}

.card, .bg-blue {
    background: #ebb3a4 !important;
    opacity: 0.9;
}

@media screen and (max-width: 670px) {
    .products {
        flex-direction: column;
    }

    .products-card {
        width: 100%;
    }
}